In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df_state= pd.read_csv("16. covid_vaccine_statewise.csv")
df_state

,Updated On,State,Total Doses Administered,Sessions,Sites,First Dose Administered,Second Dose Administered,Male (Doses Administered),Female (Doses Administered),Transgender (Doses Administered),...,18-44 Years (Doses Administered),45-60 Years (Doses Administered),60+ Years (Doses Administered),18-44 Years(Individuals Vaccinated),45-60 Years(Individuals Vaccinated),60+ Years(Individuals Vaccinated),Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Individuals Vaccinated
0,16/01/2021,India,48276.0,3455.0,2957.0,48276.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,23757.0,24517.0,2.0,48276.0
1,17/01/2021,India,58604.0,8532.0,4954.0,58604.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,27348.0,31252.0,4.0,58604.0
2,18/01/2021,India,99449.0,13611.0,6583.0,99449.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,41361.0,58083.0,5.0,99449.0
3,19/01/2021,India,195525.0,17855.0,7951.0,195525.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,81901.0,113613.0,11.0,195525.0
4,20/01/2021,India,251280.0,25472.0,10504.0,251280.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,98111.0,153145.0,24.0,251280.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7840,11/08/2021,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7841,12/08/2021,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7842,13/08/2021,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7843,14/08/2021,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7844,15/08/2021,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
df_covid= pd.read_csv("16. covid_vaccine_statewise.csv")
df_covid.rename(columns={'State/UnionTerritory':'State'},inplace=True)
# df2["State"]=df2["State/UnionTerritory"]
# df2.drop(columns="State/UnionTerritory",inplace=True)
df_covid

,Updated On,State,Total Doses Administered,Sessions,Sites,First Dose Administered,Second Dose Administered,Male (Doses Administered),Female (Doses Administered),Transgender (Doses Administered),...,18-44 Years (Doses Administered),45-60 Years (Doses Administered),60+ Years (Doses Administered),18-44 Years(Individuals Vaccinated),45-60 Years(Individuals Vaccinated),60+ Years(Individuals Vaccinated),Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Individuals Vaccinated
0,16/01/2021,India,48276.0,3455.0,2957.0,48276.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,23757.0,24517.0,2.0,48276.0
1,17/01/2021,India,58604.0,8532.0,4954.0,58604.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,27348.0,31252.0,4.0,58604.0
2,18/01/2021,India,99449.0,13611.0,6583.0,99449.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,41361.0,58083.0,5.0,99449.0
3,19/01/2021,India,195525.0,17855.0,7951.0,195525.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,81901.0,113613.0,11.0,195525.0
4,20/01/2021,India,251280.0,25472.0,10504.0,251280.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,98111.0,153145.0,24.0,251280.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7840,11/08/2021,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7841,12/08/2021,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7842,13/08/2021,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7843,14/08/2021,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7844,15/08/2021,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
import statistics as stats
df_covid.groupby("State").agg({"Total Individuals Vaccinated":[np.mean,np.median]})

                                         Total Individuals Vaccinated  \
                                                                 mean
State
Andaman and Nicobar Islands                              5.063828e+04
Andhra Pradesh                                           3.528694e+06
Arunachal Pradesh                                        1.317597e+05
Assam                                                    1.498557e+06
Bihar                                                    4.130299e+06
Chandigarh                                               1.233219e+05
Chhattisgarh                                             2.720683e+06
Dadra and Nagar Haveli and Daman and Diu                 7.143774e+04
Delhi                                                    1.910858e+06
Goa                                                      2.007174e+05
Gujarat                                                  6.739128e+06
Haryana                                                  2.273467e+06
Himachal Pradesh                                         9.405726e+05
India                                                    8.413942e+07
Jammu and Kashmir                                        1.273499e+06
Jharkhand                                                1.807192e+06
Karnataka                                                5.428272e+06
Kerala                                                   3.880157e+06
Ladakh                                                   5.916431e+04
Lakshadweep                                              1.327947e+04
Madhya Pradesh                                           4.824150e+06
Maharashtra                                              8.769222e+06
Manipur                                                  1.665892e+05
Meghalaya                                                1.700329e+05
Mizoram                                                  1.285778e+05
Nagaland                                                 1.101531e+05
Odisha                                                   3.190749e+06
Puducherry                                               1.110041e+05
Punjab                                                   1.797152e+06
Rajasthan                                                7.132268e+06
Sikkim                                                   1.008547e+05
Tamil Nadu                                               3.398413e+06
Telangana                                                2.458574e+06
Tripura                                                  5.862028e+05
Uttar Pradesh                                            7.503597e+06
Uttarakhand                                              1.092114e+06
West Bengal                                              5.781392e+06


                                              median
State
Andaman and Nicobar Islands                  19972.0
Andhra Pradesh                             2735563.0
Arunachal Pradesh                            83669.0
Assam                                      1086840.5
Bihar                                      3124545.0
Chandigarh                                   80751.0
Chhattisgarh                               2765746.0
Dadra and Nagar Haveli and Daman and Diu     43184.0
Delhi                                      1374435.5
Goa                                         117662.0
Gujarat                                    6813534.0
Haryana                                    1746051.5
Himachal Pradesh                            581370.5
India                                     70827937.0
Jammu and Kashmir                           815830.5
Jharkhand                                  1677242.0
Karnataka                                  4326453.0
Kerala                                     3590847.0
Ladakh                                       59140.0
Lakshadweep                                   6315.5
Madhya Pradesh                             3904411.5
Maharashtra                                7294130.5
Manipur                                      84404.5
Meghalaya                                    87988.5
Mizoram                                      57934.0
Nagaland                                     62759.0
Odisha                                     2872879.5
Puducherry                                   77516.5
Punjab                                     1205345.0
Rajasthan                                  6399817.5
Sikkim                                       70970.0
Tamil Nadu                                 2905491.0
Telangana                                  1296032.0
Tripura                                     663299.5
Uttar Pradesh                              6058281.0
Uttarakhand                                 837751.5
West Bengal                                5769365.5

In [4]:
df_vaccine=pd.read_csv("16. covid_vaccine_statewise.csv")
df_vaccine

,Updated On,State,Total Doses Administered,Sessions,Sites,First Dose Administered,Second Dose Administered,Male (Doses Administered),Female (Doses Administered),Transgender (Doses Administered),...,18-44 Years (Doses Administered),45-60 Years (Doses Administered),60+ Years (Doses Administered),18-44 Years(Individuals Vaccinated),45-60 Years(Individuals Vaccinated),60+ Years(Individuals Vaccinated),Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Individuals Vaccinated
0,16/01/2021,India,48276.0,3455.0,2957.0,48276.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,23757.0,24517.0,2.0,48276.0
1,17/01/2021,India,58604.0,8532.0,4954.0,58604.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,27348.0,31252.0,4.0,58604.0
2,18/01/2021,India,99449.0,13611.0,6583.0,99449.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,41361.0,58083.0,5.0,99449.0
3,19/01/2021,India,195525.0,17855.0,7951.0,195525.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,81901.0,113613.0,11.0,195525.0
4,20/01/2021,India,251280.0,25472.0,10504.0,251280.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,98111.0,153145.0,24.0,251280.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7840,11/08/2021,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7841,12/08/2021,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7842,13/08/2021,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7843,14/08/2021,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7844,15/08/2021,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_vaccine.head()

,Updated On,State,Total Doses Administered,Sessions,Sites,First Dose Administered,Second Dose Administered,Male (Doses Administered),Female (Doses Administered),Transgender (Doses Administered),...,18-44 Years (Doses Administered),45-60 Years (Doses Administered),60+ Years (Doses Administered),18-44 Years(Individuals Vaccinated),45-60 Years(Individuals Vaccinated),60+ Years(Individuals Vaccinated),Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Individuals Vaccinated
0,16/01/2021,India,48276.0,3455.0,2957.0,48276.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,23757.0,24517.0,2.0,48276.0
1,17/01/2021,India,58604.0,8532.0,4954.0,58604.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,27348.0,31252.0,4.0,58604.0
2,18/01/2021,India,99449.0,13611.0,6583.0,99449.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,41361.0,58083.0,5.0,99449.0
3,19/01/2021,India,195525.0,17855.0,7951.0,195525.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,81901.0,113613.0,11.0,195525.0
4,20/01/2021,India,251280.0,25472.0,10504.0,251280.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,98111.0,153145.0,24.0,251280.0

In [7]:
# Average of First Dose Administered
avg_firstdose = df_vaccine["First Dose Administered"].astype("float").mean(axis = 0)
print("Average of First Dose:", avg_firstdose)

Average of First Dose: 7414415.300354284

In [8]:
# Replacing First Dose Administered
df_vaccine["First Dose Administered"].fillna(value = avg_firstdose, inplace=True)
df_vaccine

,Updated On,State,Total Doses Administered,Sessions,Sites,First Dose Administered,Second Dose Administered,Male (Doses Administered),Female (Doses Administered),Transgender (Doses Administered),...,18-44 Years (Doses Administered),45-60 Years (Doses Administered),60+ Years (Doses Administered),18-44 Years(Individuals Vaccinated),45-60 Years(Individuals Vaccinated),60+ Years(Individuals Vaccinated),Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Individuals Vaccinated
0,16/01/2021,India,48276.0,3455.0,2957.0,4.827600e+04,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,23757.0,24517.0,2.0,48276.0
1,17/01/2021,India,58604.0,8532.0,4954.0,5.860400e+04,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,27348.0,31252.0,4.0,58604.0
2,18/01/2021,India,99449.0,13611.0,6583.0,9.944900e+04,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,41361.0,58083.0,5.0,99449.0
3,19/01/2021,India,195525.0,17855.0,7951.0,1.955250e+05,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,81901.0,113613.0,11.0,195525.0
4,20/01/2021,India,251280.0,25472.0,10504.0,2.512800e+05,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,98111.0,153145.0,24.0,251280.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7840,11/08/2021,West Bengal,NaN,NaN,NaN,7.414415e+06,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7841,12/08/2021,West Bengal,NaN,NaN,NaN,7.414415e+06,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7842,13/08/2021,West Bengal,NaN,NaN,NaN,7.414415e+06,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7843,14/08/2021,West Bengal,NaN,NaN,NaN,7.414415e+06,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7844,15/08/2021,West Bengal,NaN,NaN,NaN,7.414415e+06,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# # Average of Second Dose Administered
# avg_seconddose = # Average of Second Dose Administered
avg_seconddose = df_vaccine["Second Dose Administered"].astype("float").mean(axis = 0)
print("Average of Second Dose:", avg_seconddose)

Average of Second Dose: 1773755.2436688098

In [11]:
df_vaccine["Second Dose Administered"].fillna(value = avg_seconddose, inplace = True)
df_vaccine

,Updated On,State,Total Doses Administered,Sessions,Sites,First Dose Administered,Second Dose Administered,Male (Doses Administered),Female (Doses Administered),Transgender (Doses Administered),...,18-44 Years (Doses Administered),45-60 Years (Doses Administered),60+ Years (Doses Administered),18-44 Years(Individuals Vaccinated),45-60 Years(Individuals Vaccinated),60+ Years(Individuals Vaccinated),Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Individuals Vaccinated
0,16/01/2021,India,48276.0,3455.0,2957.0,4.827600e+04,0.000000e+00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,23757.0,24517.0,2.0,48276.0
1,17/01/2021,India,58604.0,8532.0,4954.0,5.860400e+04,0.000000e+00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,27348.0,31252.0,4.0,58604.0
2,18/01/2021,India,99449.0,13611.0,6583.0,9.944900e+04,0.000000e+00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,41361.0,58083.0,5.0,99449.0
3,19/01/2021,India,195525.0,17855.0,7951.0,1.955250e+05,0.000000e+00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,81901.0,113613.0,11.0,195525.0
4,20/01/2021,India,251280.0,25472.0,10504.0,2.512800e+05,0.000000e+00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,98111.0,153145.0,24.0,251280.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7840,11/08/2021,West Bengal,NaN,NaN,NaN,7.414415e+06,1.773755e+06,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7841,12/08/2021,West Bengal,NaN,NaN,NaN,7.414415e+06,1.773755e+06,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7842,13/08/2021,West Bengal,NaN,NaN,NaN,7.414415e+06,1.773755e+06,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7843,14/08/2021,West Bengal,NaN,NaN,NaN,7.414415e+06,1.773755e+06,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7844,15/08/2021,West Bengal,NaN,NaN,NaN,7.414415e+06,1.773755e+06,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
first_dose = df_vaccine.groupby('State')[['First Dose Administered']].sum()
first_dose

                                          First Dose Administered
State
Andaman and Nicobar Islands                          6.091235e+07
Andhra Pradesh                                       1.277347e+09
Arunachal Pradesh                                    9.349147e+07
Assam                                                6.300867e+08
Bihar                                                1.514989e+09
Chandigarh                                           8.918960e+07
Chhattisgarh                                         8.404894e+08
Dadra and Nagar Haveli and Daman and Diu             8.549597e+07
Delhi                                                6.762404e+08
Goa                                                  1.204779e+08
Gujarat                                              2.176133e+09
Haryana                                              8.002848e+08
Himachal Pradesh                                     3.607805e+08
India                                                2.830663e+10
Jammu and Kashmir                                    4.545883e+08
Jharkhand                                            6.481602e+08
Karnataka                                            1.917816e+09
Kerala                                               1.238332e+09
Ladakh                                               6.229574e+07
Lakshadweep                                          4.885015e+07
Madhya Pradesh                                       1.841091e+09
Maharashtra                                          2.828851e+09
Manipur                                              1.118961e+08
Meghalaya                                            1.071025e+08
Mizoram                                              9.235957e+07
Nagaland                                             8.689726e+07
Odisha                                               1.077120e+09
Puducherry                                           8.583335e+07
Punjab                                               6.288331e+08
Rajasthan                                            2.245531e+09
Sikkim                                               8.146742e+07
Tamil Nadu                                           1.333019e+09
Telangana                                            9.248071e+08
Tripura                                              2.371762e+08
Uttar Pradesh                                        2.832898e+09
Uttarakhand                                          4.076779e+08
West Bengal                                          1.840936e+09

In [13]:
first_dose = df_vaccine.groupby('State')[['Second Dose Administered']].sum()
first_dose

                                          Second Dose Administered
State
Andaman and Nicobar Islands                           1.476109e+07
Andhra Pradesh                                        3.694601e+08
Arunachal Pradesh                                     2.257485e+07
Assam                                                 1.414313e+08
Bihar                                                 2.814331e+08
Chandigarh                                            2.223627e+07
Chhattisgarh                                          1.827629e+08
Dadra and Nagar Haveli and Daman and Diu              1.701070e+07
Delhi                                                 2.006352e+08
Goa                                                   2.684071e+07
Gujarat                                               6.110609e+08
Haryana                                               1.692986e+08
Himachal Pradesh                                      8.448111e+07
India                                                 6.770264e+09
Jammu and Kashmir                                     9.659418e+07
Jharkhand                                             1.327636e+08
Karnataka                                             4.378297e+08
Kerala                                                3.746913e+08
Ladakh                                                1.609629e+07
Lakshadweep                                           1.169898e+07
Madhya Pradesh                                        3.275755e+08
Maharashtra                                           7.235236e+08
Manipur                                               2.250068e+07
Meghalaya                                             2.280916e+07
Mizoram                                               2.064095e+07
Nagaland                                              1.984717e+07
Odisha                                                2.619453e+08
Puducherry                                            1.925139e+07
Punjab                                                1.317635e+08
Rajasthan                                             5.023455e+08
Sikkim                                                2.036617e+07
Tamil Nadu                                            3.013132e+08
Telangana                                             2.087955e+08
Tripura                                               7.591267e+07
Uttar Pradesh                                         5.650776e+08
Uttarakhand                                           1.107276e+08
West Bengal                                           5.967894e+08

In [14]:
male = df_vaccine["Male(Individuals Vaccinated)"].sum()
print("The total number of male individuals vaccinated are", int(male))

The total number of male individuals vaccinated are 7138698858

In [ ]:
female = df_vaccim["Female(Individuals Vaccinated)"].sum()
print("The total number of female individuals vaccinated are", int(female))